#include "lib.polib"

POLICY coverage {
  USE basic_allow,
  ALLOW {
    dup3,
    execve(path, argv, envp) {
      path == %0s
    },
    rt_sigprocmask,
    getpid,
    gettid,
    fcntl,
    tgkill
  }
}

USE coverage DEFAULT KILL