#include "lib.polib"

POLICY main {
  USE basic_allow,
  ALLOW {
    execve(path, argv, envp) {
      path == %0s
    },
    dup3,
    rt_sigprocmask,
    getpid,
    gettid,
    tgkill
  }
}

USE main DEFAULT KILL